/**
 * Banner
 */
.pdfsam-banner {
    -fx-background-insets: 0;
    -fx-padding: 6 1.083333em;
    -fx-background-color: -header-border-color, -header-background-color;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
    -fx-alignment: center;
}

.pdfsam-logo {
    -fx-padding: 2.0 4.0 2.0 12.0;
    -fx-spacing: 15.0px;
    -fx-alignment: center-left;
}

.pdfsam-banner-buttons {
    -fx-padding: 0.0 4.0em 0.0 0.0;
    -fx-spacing: 0.5em;
    -fx-alignment: center-right;
}

.logs-notification {
    -fx-background-color: -error-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 2.0px;
    -fx-font-size: 11.0px;
    -fx-font-weight: bold;
    -fx-padding: 1.5 2.5 1.5 2.5;
    -fx-translate-y: -6.0px;
    -fx-translate-x: 3.0px;
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.95;
    -fx-effect: -pdfsam-shadow-effect;
}

.banner-btn .ikonli-font-icon {
    -fx-font-size: 2.166667em;
}

.banner-btn {
    -fx-background-color: -header-button-color;
    -fx-padding: 0.25em 0.5em;
    -fx-background-radius: 0.666667em, 0.666667em, 0.666667em !important;
}

.banner-btn:hover {
    -fx-background-color: -header-button-color-hover;
}

.banner-btn:focus-visible {
    -fx-background-color: -header-button-focus-color, -header-button-color;
}

.banner-btn:focus-visible:hover {
    -fx-background-color: -header-button-focus-color-hover, -header-button-color-hover
}

.banner-btn.log-has-errors > .ikonli-font-icon {
    -fx-icon-color: -error-color !important;
}
