/**
 * Quickbar
 */
.quickbar {
    -fx-background-color: -quickbar-background-color;
    -fx-background-insets: 0.0;
    -fx-padding: 1.0em 0.0 1.0em 0.0;
}

.quickbar-buttons {
    -fx-background-color: -quickbar-background-color;
    -fx-background-insets: 0.0;
    -fx-padding: 0.0 0.0 0.0 0.25em;
}

.quickbar-expand-button {
    -fx-padding: 0.0 0.0 0.5em 0.0;
    -fx-alignment: top-right;
    -fx-background-radius: 6px;
}

.quickbar-expand-toggle, .quickbar-button {
    -fx-background-color: -quickbar-background-color;
}

.quickbar-expand-toggle:hover, .quickbar-button:hover {
    -fx-background-color: -quickbar-btn-color-hover;
}

.quickbar-expand-toggle:focus-visible, .quickbar-button:focus-visible {
    -fx-background-color: -quickbar-btn-focus-color, -quickbar-btn-color;
}

.quickbar-expand-toggle:focus-visible:hover, .quickbar-button:focus-visible:hover {
    -fx-background-color: -quickbar-btn-focus-color-hover, -quickbar-btn-color-hover;
}

.quickbar-button-arrow {
    -fx-fill: -quickbar-arrow-color;
}

.quickbar-items {
    -fx-spacing: 0.5em;
    -fx-padding: 0.0 0.5em 1.0em 0.0;
}

.quickbar-button {
    -fx-background-radius: 0.666667em, 0.666667em, 0.666667em !important;
    -fx-background-insets: 0.0;
    -fx-padding: 0.416667em 0.666667em 0.416667em 0.666667em;
    -fx-min-width: 4em;
}
