/**
 * Table view
 */
.table-view {
    -fx-background-color: -pdfsam-border-color, -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.4;
    -fx-background-radius: 3;
}

.table-view:focused {
    -fx-background-color: derive(-pdfsam-border-color, -30%), -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.4;
    -fx-background-radius: 3;
}

.table-view .column-header {
    -fx-background-color: -table-border-color, -table-columne-header-color;
    -fx-background-insets: 0.0, 0.0 1.0 1.0 0.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-font-weight: bold;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
    -fx-background: -table-selected-background-color;
    -fx-cell-focus-inner-border: -table-selected-background-color;
    -fx-background-insets: 0;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-background-insets: 0;
}

.table-row-cell {
    -fx-background: -table-even-background-color;
    -fx-table-cell-border-color: -table-border-color;
    -fx-background-insets: 0;
}

.table-row-cell:odd {
    -fx-background: -table-odd-background-color;
}

.table-view .arrow,
.tree-table-view .arrow {
    -fx-background-color: -default-arrow-color;
}


