.label, .text, .button, .text-input {
    -fx-text-fill: -default-font-color;
}

.scroll-pane {
    -fx-background-color: -default-background-color;
    -fx-background-insets: 0.0;
    -fx-padding: 0.083333em;
}

.ikonli-font-icon {
    -fx-fill: -default-font-color;
}

.default-container {
    -fx-background-color: -default-background-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

.pdfsam-container {
    -fx-border-width: 0.0;
    -fx-padding: 0.666667em;
}

.spaced-container {
    -fx-border-width: 0.0;
    -fx-padding: 1.166666em;
    -fx-spacing: 2.5em;
}

.pdfsam-module-container {
    -fx-border-width: 0.0;
    -fx-padding: 0.666667em;
    -fx-spacing: 1.0em;
}

.button-container {
    -fx-padding: 0.833333em;
    -fx-spacing: 0.75em;
}

.spaced-vitem {
    -fx-padding: 0.0 0.0 0.5em 0.0;
}

.both-spaced-vitem {
    -fx-padding: 0.5em 0.0 0.5em 0.0;
}

.content-pane {
    -fx-padding: 0.666667em 0.333333emem 0.666667em 0.333333emem;
}

.encryption-status {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 16.0px;
}

.not-loaded {
    -fx-opacity: 0.5;
}

.pdfsam-grid {
    -fx-hgap: 0.416667em;
    -fx-vgap: 0.666667em;
}

.spaced-hcontainer {
    -fx-spacing: 0.416667em;
    -fx-alignment: bottom-left;
}

.spaced-vcontainer {
    -fx-spacing: 0.833333em;
    -fx-alignment: center-left;
}

.with-help-hcontainer {
    -fx-spacing: 0.416667em;
    -fx-alignment: center-left;
}

.with-help {
    -fx-graphic-text-gap: 0.833333em;
    -fx-content-display: RIGHT;
}

.help-icon {
    -fx-font-size: 1.416667em;
}

.with-errors > .ikonli-font-icon, .with-warnings > .ikonli-font-icon {
    -fx-fill: -error-color;
}

/**
 * footer for pane
 */
.pdfsam-footer-close-pane {
    -fx-border-width: 0.0;
    -fx-alignment: bottom-right;
}

/**
 * hyperlink
 */
.pdfsam-hyperlink {
    -fx-cursor: hand;
    -fx-background-color: -default-background-color;
    -fx-text-fill: derive(-info-color, -20.0%);
}

.pdfsam-hyperlink > .ikonli-font-icon {
    -fx-font-size: 1.5em;
}

.pdfsam-hyperlink:hover {
    -fx-underline: true;
}

.pdfsam-hyperlink:armed {
    -fx-underline: false;
    -fx-opacity: 0.7;
}

/**
 * TextField
 */
.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: -default-font-color;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -text-field-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 4.0;
}

.text-field:focused {
    -fx-background-color: -text-field-focus-color, -text-field-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 4.0;
}

.text-input:disabled {
    -fx-prompt-text-fill: -default-font-color;
}

/**
 * ValidableContainer
 */
.validable-container {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 4.0;
    -fx-alignment: center-left;
    -fx-min-width: 24.0em;
}

.validable-container:focused {
    -fx-background-insets: 0.0, 1.0;
}

.validable-container:selected {
    -fx-background-color: -text-field-focus-color, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 4.0;
}

.validable-container-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 4.0;
}

.validable-container-field:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 4.0
}


/**
btn
 */
.btn {
    -fx-background-color: -btn-color;
    -fx-background-radius: 0.5em;
    -fx-padding: 0.416667em 0.666667em;
    -fx-text-fill: -default-font-color;
}

.btn .ikonli-font-icon {
    -fx-font-size: 1.666666667em;
    -fx-icon-color: -btn-icon-color;
}

.btn-left {
    -fx-background-radius: 0.5em 0 0 0.5em;
}

.btn-right {
    -fx-background-radius: 0 0.5em 0.5em 0;
}

.btn:hover {
    -fx-background-color: -btn-color-hover;
}

.btn:default {
    -fx-background-color: -btn-default-color;
    -fx-text-fill: -btn-default-font-color !important;
    -fx-icon-color: -btn-default-font-color !important;
    -fx-background-insets: 0;
}

.btn:default .ikonli-font-icon {
    -fx-text-fill: -btn-default-font-color !important;
    -fx-icon-color: -btn-default-font-color !important;
}

.btn:default:hover {
    -fx-background-color: -btn-default-color-hover;
}

.btn:focus-visible {
    -fx-background-color: -btn-focus-border-color, -btn-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.5em, 0.5em;
}

.btn:focus-visible:hover {
    -fx-background-color: -btn-focus-border-color-hover, -btn-color-hover;
    -fx-background-radius: 0.5em, 0.5em;
}

.btn:default:focus-visible {
    -fx-background-color: -btn-default-color, -btn-default-focus-border-color, -btn-default-color !important;
    -fx-background-insets: 0.0, 1.0, 2.0 !important;
    -fx-background-radius: 0.5em, 0.5em, 0.5em;
}

.btn:default:focus-visible:hover {
    -fx-background-color: -btn-default-color-hover, -btn-default-focus-border-color-hover, -btn-default-color-hover !important;
    -fx-background-insets: 0.0, 1.0, 2.0 !important;
    -fx-background-radius: 0.5em, 0.5em, 0.5em;
}

.btn:armed {
    -fx-opacity: 0.7;
    -fx-effect: none;
}

.btn:selected {
    -fx-background-color: -btn-selected-border-color, -btn-selected-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.5em, 0.5em, 0.5em;
    -fx-opacity: 0.7;
}

.btn:disabled {
    -fx-opacity: 0.3;
    -fx-effect: none;
}

/**
 * split button
 */
.pdfsam-split-button, .pdfsam-split-button:default, .pdfsam-split-button:focus-visible {
    -fx-padding: 0.0 0.0 0.0 1.166666em;
    -fx-background-radius: 0.5em;
}

.pdfsam-split-button > .label, .pdfsam-split-button:focus-visible > .label {
    -fx-text-fill: -default-font-color;
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0.583333em 0.5em 0.583333em 0.5em;
}

.pdfsam-split-button > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0 0.5em 0.5em 0.0;
    -fx-background-insets: 0.0;
}

.pdfsam-split-button > .arrow-button:hover {
    -fx-background-color: derive(-btn-color-hover, -10%);
    -fx-background-radius: 0.0 0.5em 0.5em 0.0;
    -fx-background-insets: 0.0;
}

.pdfsam-split-button > .arrow-button:pressed {
    -fx-background-color: -btn-color;
    -fx-opacity: 0.7;
}

.toolbar-splitbutton, .toolbar-splitbutton:default, .toolbar-splitbutton:focus-visible {
    -fx-padding: 0.0 0.0 0.0 0.5em;
}

.toolbar-splitbutton > .label, .toolbar-splitbutton:focus-visible > .label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
}

/**
 * Checkbox
 */
.check-box > .box {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 2.0, 2.0;
}

.check-box:focus-visible > .box {
    -fx-background-color: -checkbox-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.0, 0.0, 1.0;
    -fx-background-radius: 2.0, 2.0, 2.0;
}

.check-box:selected > .box {
    -fx-background-color: -checkbox-selected-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 2.0;
}

.check-box:focus-visible:selected > .box {
    -fx-background-color: -checkbox-focus-color, -checkbox-selected-color;
    -fx-background-insets: -1.0, 0.0;
    -fx-background-radius: 2.0, 2.0;
}

.check-box > .box > .mark {
    -fx-padding: 0.333333em;
}

.check-box:selected > .box > .mark {
    -fx-background-color: -fx-mark-highlight-color, white;
}

/**
 * Radio
 */
.radio-button > .radio {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-padding: 1.0;
}

.radio-button:focus-visible > .radio {
    -fx-background-color: -checkbox-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.0, 0.0, 1.0;
}

.radio-button:selected > .radio {
    -fx-background-color: -checkbox-selected-color;
    -fx-background-insets: 0.0;
}

.radio-button:focus-visible:selected > .radio {
    -fx-background-color: -checkbox-focus-color, -checkbox-selected-color;
    -fx-background-insets: -1.0, 0.0;
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
}

/**
 * Titled pane
 */
.titled-pane {
    -fx-padding: 0.416667em 0.0 0.416667em 0.0;
    -fx-background-color: -tool-options-pane-color;
    -fx-background-radius: 1em;
}

.pdfsam-titled-pane *:disabled {
    -fx-opacity: 0.6;
}

.titled-pane > .title {
    -fx-background-color: -tool-options-pane-color;
    -fx-background-insets: 0.0;
    -fx-font-weight: bold;
    -fx-background-radius: 1em;
}

.titled-pane > *.content {
    -fx-background-color: -tool-options-pane-color;
    -fx-background-insets: 0.0;
    -fx-border-color: none;
    -fx-border-insets: 0.0;
    -fx-background-radius: 1em;
}

.pdfsam-titled-pane:focus-visible > .title > .arrow-button > .arrow {
    -fx-background-color: -default-primary;
}

.pdfsam-titled-pane .btn {
    -fx-background-color: -btn-color-titled;
}

.pdfsam-titled-pane .btn:hover {
    -fx-background-color: -btn-color-hover-titled;
}

.pdfsam-titled-pane .btn:focus-visible {
    -fx-background-color: -btn-focus-border-color-titled, -btn-color-titled;
}

.pdfsam-titled-pane .btn:focus-visible:hover {
    -fx-background-color: -btn-focus-border-color-hover-titled, -btn-color-hover-titled;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -default-arrow-color;
    -fx-background-insets: 0;
    -fx-effect: none;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: -default-arrow-color;
    -fx-background-insets: 0;
}

/**
 * TextArea
 */
.text-area {
    -fx-background-color: -pdfsam-border-color, -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.4;
    -fx-background-radius: 0.5em;
}

.text-area:focused {
    -fx-background-color: -text-field-focus-color, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.5em, 0.5em;
    -fx-prompt-text-fill: transparent;
}

/**
 * Table placeholder
 */
.drag-drop-placeholder {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-padding: 1.66666666667em;
    -fx-font-size: 2.0em;
    -fx-background-color: -drag-drop-color;
    -fx-border-color: -drag-drop-border-color;
    -fx-text-fill: -drag-drop-font-color;
    -fx-border-radius: 0.583333em;
    -fx-border-style: dashed;
    -fx-border-width: 0.333333em;
}

.drag-drop-placeholder:disabled {
    -fx-opacity: 1.0;
    -fx-border-color: -drag-drop-border-color;
    -fx-text-fill: -drag-drop-font-color;
    -fx-border-width: 3.0px;
}

/**
 * Selection table
 */
.selection-table {
    -fx-min-height: 15.0em;
}

/**
 * Selection table toolbar
 */
.selection-tool-bar:horizontal {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0.416667em 0.0 0.416667em 0.0;
}

/**
 * Single selection pane
 */
.single-selection-pane {
    -fx-spacing: 0.416667em;
}

/**
 * Invalid
 */
.invalid {
    -fx-background-color: derive(-error-color, 80.0%), -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
}

.invalid:focus-visible {
    -fx-background-color: -error-color, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
}

/**
 * Password popup
 */
.pdfsam-input-password {
    -fx-background-color: -default-background-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.5em;
    -fx-border-color: -pdfsam-border-color;
    -fx-border-width: 1.0;
    -fx-border-radius: 0.5em;
    -fx-padding: 0.833333em;
    -fx-spacing: 0.416667em;
    -fx-effect: -pdfsam-shadow-effect;
    -fx-border-style: none;
}

.pdfsam-input-password-content .btn {
    -fx-padding: 0.0 1.166666em 0.0 1.166666em;
}

/**
 * Close button
 */
.close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0.0px;
    -fx-font-size: 1.666667em;
}

.close-button:hover > .ikonli-font-icon {
    -fx-text-fill: derive(-default-font-color, 70.0%) !important;
    -fx-icon-color: derive(-default-font-color, 70.0%) !important;
}

.close-button:armed > .ikonli-font-icon {
    -fx-text-fill: derive(-default-font-color, 30.0%) !important;
    -fx-icon-color: derive(-default-font-color, 30.0%) !important;
}

/**
Categories
 */
.category-split {
    -fx-background-color: -category-split-color;
    -fx-icon-color: -category-split-color !important;
}

.category-merge {
    -fx-background-color: -category-merge-color;
    -fx-icon-color: -category-merge-color !important;
}

.category-edit {
    -fx-background-color: -category-edit-color;
    -fx-icon-color: -category-edit-color !important;
}

.category-convert {
    -fx-background-color: -category-convert-color;
    -fx-icon-color: -category-convert-color !important;
}

.category-other {
    -fx-background-color: -category-others-color;
    -fx-icon-color: -category-others-color !important;
}

.visual-category {
    -fx-background-color: -category-visual-color;
}

.enhanced-category {
    -fx-background-color: -category-enhanced-color;
}

/**
* Arrows
**/
.menu-button > .arrow-button > .arrow,
.split-menu-button > .arrow-button > .arrow {
    -fx-background-color: -default-arrow-color, -default-arrow-color;
}

.choice-box > .open-button > .arrow,
.menu-button:openvertically > .arrow-button > .arrow,
.split-menu-button:openvertically > .arrow-button > .arrow,
.combo-box-base > .arrow-button > .arrow,
.web-view .form-select-button .arrow,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button > .arrow {
    -fx-background-color: -default-arrow-color, -default-arrow-color;
}

/**
 * Info pane
 */
.info-props {
    -fx-background-color: -infopane-border-color, -infopane-background-color;
    -fx-background-insets: 0.0, 0.4;
    -fx-background-radius: 0.25em, 0.25em;
    -fx-padding: 1.25em;
    -fx-hgap: 0.833333em;
    -fx-vgap: 0.833333em;
}

.info-property-value, .info-property {
    -fx-background-color: -infopane-background-color;
    -fx-background-insets: 0.0;
    -fx-border-radius: 0.0;
}

.info-property {
    -fx-font-weight: bold;
}

/**
 * Tab pane
 */
.tab-pane > .tab-header-area > .headers-region > .tab:left {
    -fx-background-color: -default-background-color, -pdfsam-border-color, -default-background-color;
    -fx-background-insets: 0.0, 1.0, 1.4;
    -fx-background-radius: 4.0, 4.0, 4.0;
    -fx-opacity: 0.8;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -default-background-color, -default-primary, -default-background-color;
    -fx-background-insets: 0.0, 1.0, 1.4;
    -fx-background-radius: 4.0, 4.0, 4.0;
    -fx-effect: -pdfsam-shadow-effect;
    -fx-opacity: 1.0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0.0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -default-background-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-effect: null;
}

/**
 * Separator
 */
.separator:horizontal .line {
    -fx-border-color: -separator-color;
}
