/**
 * Advanced destination pane
 */
.advanced-destination-pane {
    -fx-effect: none;
    -fx-background-color: -advanced_background-color;
    -fx-background-insets: 0.0;
}

.advanced-destination-pane > .title {
    -fx-background-color: -advanced_background-color;
}

.advanced-destination-pane > *.content {
    -fx-background-color: -advanced_background-color;
    -fx-background-insets: 0.0;
}

/**
 * Footer button
 */
.footer-button, .footer-button:default, .footer-button:focused {
    -fx-padding: 0.166667em 1.333333em 0.166667em 1.0em;
}

.footer-open-button, .footer-open-button:default, .footer-open-button:focus-visible {
    -fx-padding: 0.0 0.0 0.0 1.0em;
}

.footer-open-button > .label, .footer-open-button:focus-visible > .label {
    -fx-padding: 0.0 0.5em 0.0 0.5em;
}

/**
 * Browse button
 */
.browse-button, .browse-button:default, .browse-button:focus-visible {
    -fx-padding: 0.0 1.166666em 0.0 1.166666em;
    -fx-alignment: center;
}

.browsable-field {
    -fx-alignment: center-left;
    -fx-spacing: 0.416667em;
}

/**
* Toolbar button
**/
.toolbar-button, .toolbar-button:default, .toolbar-button:focused {
    -fx-padding: 0.5em 1em 0.5em 1em !important;
}

/**
* Run Button
*/
.run-button, .run-button:default, .run-button:focus-visible {
    -fx-background-color: -run-btn-color;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-font-color: -run-btn-font-color;
    -fx-background-radius: 0.5em;
}

.run-button:hover {
    -fx-background-color: -run-btn-color-hover;
}

.run-button:focus-visible {
    -fx-background-color: -run-btn-color, -run-btn-focus-border-color, -run-btn-color !important;
    -fx-background-insets: 0.0, 1.0, 2.0 !important;
    -fx-background-radius: 0.5em;
}

.run-button:focus-visible:hover {
    -fx-background-color: -run-btn-color-hover, -run-btn-focus-border-color-hover, -run-btn-color-hover !important;
    -fx-background-insets: 0.0, 1.0, 2.0 !important;
    -fx-background-radius: 0.5em;
}


