/**
 * Tooltip
 */
.tooltip {
    -fx-background-color: -tooltip-border-color,  -tooltip-background-color;
    -fx-background-insets: 0.0, 1;
    -fx-background-radius: 6.0;
    -fx-text-fill: -tooltip-font-color;
    -fx-font-size: 12;
}

/**
 * Error tooltip
 */
.error-tooltip {
    -fx-background-color: -error-color;
    -fx-background-insets: 0.0;
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.95;
    -fx-font-weight: bold;
    -fx-padding: 0.3em 0.4em 0.3em 0.4em;
}
