.root { 
	theme-color: #009245;
	hover-color: #D4D4D4;
	light-border-color: #D4D4D4;
	dark-text-color: #2b2b2b;
	button-color: #E5E5E5;
	defaultbg-color: -fx-background;
	headerbg-color: #FFFFFF;
	tooltipbg-color: #FFFFFF;
	pwdpopupbg-color: rgba(255.0,255.0,255.0,0.9);
	error-color: #CF0000;	
	-fx-focus-color: derive(lightslategray, 90.0%);
	-fx-accent: -fx-focus-color;
	-fx-highlight-text-fill: dark-text-color;
	default-effect: dropshadow(one-pass-box, theme-color, 10.0, 0.0, 0.2, 0.2);
	-fx-disabled-opacity: 0.4;
}
.label {
	-fx-text-fill: dark-text-color;
}
.default-container {
	-fx-background-color: defaultbg-color;
	-fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.pdfsam-container {
	-fx-border-width: 0.0;
	-fx-padding: 8.0;
}
.button-container {
	-fx-padding: 10.0;
	-fx-spacing: 0.7em;
}
.spaced-vitem {
	-fx-padding: 0.0 0.0 0.5em 0.0 ;
}
/**
 * Progress bar
 */
.progress-bar {
   -fx-indeterminate-bar-escape: false;
   -fx-indeterminate-bar-animation-time: 1.0;
}
.progress-bar > .bar {
   -fx-background-color: derive(theme-color, -20.0%), theme-color;
   -fx-background-radius: 0.0;        
   -fx-background-insets: 0.0, 1.0;
   -fx-padding: 0.416667em; /* 5 */
}
.progress-bar:indeterminate > .bar {
    -fx-background-color: derive(theme-color, -20.0%), theme-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;     
}
.progress-bar:indeterminate > .track {
    -fx-background-color: derive(theme-color, -20.0%), white;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;        
}
.progress-bar > .track {
    -fx-background-color: derive(theme-color, -20.0%), white;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;        
}
/**
 * TextField
 */
.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: dark-text-color;
}
.text-field {
   -fx-background-color:  -fx-text-box-border, -fx-control-inner-background;
   -fx-background-insets: 0.0, 1.0;
   -fx-background-radius:  0.0, 0.0;
}

.text-field:focused {
    -fx-background-color: theme-color, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-prompt-text-fill: transparent;
}
/**
 * Tooltip
 */
.tooltip {
  	-fx-background-color:  light-border-color, tooltipbg-color;
    -fx-background-insets:  0.0, 1.0;
   	-fx-background-radius:  0.0, 0.0;
   	-fx-text-fill: dark-text-color;
}
/**
 * Buttons
 */
.pdfsam-button {
    -fx-background-color:  light-border-color, button-color;
    -fx-background-insets:  0.0, 1.0;
    -fx-background-radius: 0.0;
    -fx-padding: 7.0px 14.0px 7.0px 14.0px;
    -fx-text-fill: dark-text-color !important;
}
.pdfsam-button:focused, .pdfsam-button:default, .pdfsam-button:armed, .pdfsam-button:hover {
    -fx-background-color: theme-color, hover-color, button-color;
    -fx-background-insets:  0.0, 0.0 0.0 1.0 0.0, 1.0;
    -fx-background-radius:  0.0;
}
.pdfsam-button:hover {
    -fx-background-color: theme-color, hover-color;
}
.pdfsam-button:armed{
    -fx-opacity: 0.85;
}
.pdfsam-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.browse-button {
    -fx-background-insets:  0.0, 1.0 1.0 1.0 0.0;
	-fx-padding: 0.0px 14.0px 0.0px 14.0px;
}
.browse-button:focused, .browse-button:default, .browse-button:armed, .browse-button:hover {
    -fx-background-insets:  0.0, 0.0 0.0 1.0 0.0, 1.0 1.0 1.0 0.0;
    -fx-background-radius:  0.0;
}
/**
 * Error tooltip
 */
.error-tooltip {
   -fx-background-color:  #EED3D7, #F2DEDE;
   -fx-background-insets: 1.0, 2.0;
   -fx-background-radius:  0.0, 0.0;
   -fx-text-fill: #B94A48;
   -fx-opacity: 0.95;
   -fx-font-weight: bold;
   -fx-padding: 0.3em 0.4em 0.3em 0.4em;    
}
/**
 * Checkbox
 */
.check-box > .box {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0 0.0;
}
.check-box:focused > .box {
	-fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.6, 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0, 0.0;
}

.check-box > .box > .mark {
    -fx-padding: 0.3em; 
}
/**
 * Combo
 */
.combo-box-base  {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0 0.0;
    -fx-padding: 0.0;
}
/**
 * Titled panel
 */
 .titled-pane {
	-fx-padding: 0.4em 0.0 0.4em 0.0;    
}
.titled-pane > .title {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-font-weight: bold; 
}
.titled-pane > *.content {
   -fx-background-color: -fx-box-border, white;
   -fx-background-insets: 0.0, 0.0 1.0 1.0 1.0;
   -fx-background-radius: 0.0, 0.0;
}
/**
 * TextArea
 */
.text-area{
	-fx-background-color:  -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius:  0.0, 0.0;
}
.text-area:focused {
	-fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.8, 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0, 0.0;
    -fx-prompt-text-fill: transparent;
}
/**
 * Table placeholder
 */
.drag-drop-placeholder{
	-fx-alignment: center;
 	-fx-font-weight: bold; 
 	-fx-padding: 25.0;
 	-fx-font-size: 2.0em;
 	-fx-background-color: white;
 	-fx-border-color: derive(light-border-color, -10.0%);
 	-fx-text-fill: derive(light-border-color, -10.0%);
 	-fx-border-radius: 7.0px;
 	-fx-border-style: dashed;
 	-fx-border-width: 3.5px;
}
.drag-drop-placeholder:disabled {
    -fx-opacity: 1.0;
 	-fx-border-color: light-border-color;
 	-fx-text-fill: light-border-color;
 	-fx-border-width: 3.0px;
}
/**
 * Table view
 */
.table-view .column-header{
 	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.0 1.0 1.0 0.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-font-weight: bold; 
}
.table-view:focused {
	-fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.8, 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0, 0.0;
}
/**
 * Selection table toolbar
 */
.selection-tool-bar:horizontal {
   -fx-background-color: transparent;
   -fx-background-insets: 0.0;
   -fx-background-radius: 0.0;
   -fx-padding: 0.416667em 0.0 0.416667em 0.0;
}
/**
 * Invalid
 */
.invalid{
   -fx-background-color:  derive(error-color, 80.0%), -fx-control-inner-background;
   -fx-background-insets: 0.0, 1.0;
}
.invalid:focused{
   -fx-background-color:  error-color, -fx-control-inner-background;
   -fx-background-insets: 0.0, 1.0;
}
/**
 * Password popup
 */
.pdfsam-input-password {
	-fx-background-color: pwdpopupbg-color;
	-fx-background-insets: 1.0;
    -fx-background-radius: 3.0;
    -fx-border-color: light-border-color;
    -fx-border-width: 1.0;
    -fx-border-radius: 3.0;
    -fx-padding: 10.0px;
    -fx-spacing: 5.0px;
}
.pdfsam-input-password-content .pdfsam-button{
	-fx-padding: 0.0px 14.0px 0.0px 14.0px;
}