.root { 
	theme-color: #339933;
	-fx-text-box-border: #CCCCCC;
	-fx-box-border: -fx-text-box-border; 
	-fx-focus-color: rgba(82.0, 168.0, 236.0, 0.8);
	-fx-control-inner-background: #F9F9F9;
	-fx-selection-bar: #F3F3F3;
	ctx-menubg-color: #FFFFFF;
	-fx-accent: #D8D8D8 !important;
	-fx-disabled-opacity: 0.4;
	error-color: #B94A48;
}
/**
 * TextField
 */
.text-field {
   -fx-background-color:  -fx-text-box-border, -fx-control-inner-background;
   -fx-background-insets: 0.0, 1.0;
   -fx-background-radius:  0.0, 0.0;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-prompt-text-fill: transparent;
    -fx-effect: dropshadow( three-pass-box , -fx-text-box-border , 10.0, 0.0 ,1.0 ,1.0 );
}
/**
 * TextArea
 */
.text-area{
	-fx-background-color:  -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius:  0.0, 0.0;
}
.text-area:focused {
    -fx-background-color: -fx-focus-color, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-prompt-text-fill: transparent;
    -fx-effect: dropshadow( three-pass-box , -fx-text-box-border , 10.0, 0.0 ,1.0 ,1.0 );
}
/**
 * Buttons
 */
.pdfsam-button {
    -fx-background-color:  #D8D8D8, #E5E5E5;
    -fx-background-insets:  0.0, 1.0;
    -fx-background-radius: 0.0;
    -fx-padding: 7.0px 14.0px 7.0px 14.0px;
    -fx-text-fill: #333333 !important;
}

.pdfsam-button:focused, .pdfsam-button:default, .pdfsam-button:armed, .pdfsam-button:hover {
    -fx-background-color: theme-color, #D8D8D8, #E5E5E5;
    -fx-background-insets:  0.0, 0.0 0.0 1.0 0.0, 1.0;
    -fx-background-radius:  0.0;
}

.pdfsam-button:hover {
    -fx-background-color: theme-color, #D8D8D8;
}

.pdfsam-button:armed {
    -fx-opacity: 0.9;
}

.pdfsam-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.browse-button {
    -fx-background-insets:  0.0, 1.0 1.0 1.0 0.0;
	-fx-padding: 0.0px 14.0px 0.0px 14.0px;
}
.browse-button:focused, .browse-button:default, .browse-button:armed, .browse-button:hover {
    -fx-background-insets:  0.0, 0.0 0.0 1.0 0.0, 1.0 1.0 1.0 0.0;
    -fx-background-radius:  0.0;
}
/**
 * Context menu
 */
.context-menu {
   -fx-background-color:  ctx-menubg-color, theme-color, ctx-menubg-color;
   -fx-background-insets: -1.0, 1.0, 2.0;
   -fx-background-radius:  0.0,0.0, 0.0;
   -fx-padding: 0.0;
}
.context-menu .menu-item {
     -fx-background-insets: 2.0;	
}
.context-menu .menu-item .label {
    -fx-padding: 3.0px 0.0px 3.0px 0.0px;
}
.context-menu .menu-item:focused {
    -fx-background-color: -fx-selection-bar;
}
.context-menu .menu-item:focused .label {
    -fx-text-fill: -fx-selection-bar-text;
}
.context-menu .menu-item:disabled {
    -fx-background-color: ctx-menubg-color; 
}
.context-menu .menu-item:disabled .label {
    -fx-opacity: -fx-disabled-opacity;
}
.context-menu .separator {
	-fx-padding: 0.0 0.4em 0.0 0.4em;
}
/**
 * About panel
 */
#aboutLabelAppName{
	-fx-font-size: 1.8em;
	-fx-font-weight: bold;
}
#versionLabel{
	-fx-font-size: 0.8em;
	-fx-font-weight: bold;
	-fx-padding: 0.0 0.0 1.7em 0.0;
}
#aboutLabelsContainer{
	-fx-padding: 10.0px;
}
#logoContainer{
	-fx-padding: 0.0 1.8em 0.0 0.0;
}
/**
 * Error tooltip
 */
.error-tooltip {
   -fx-background-color:  #EED3D7, #F2DEDE;
   -fx-background-insets: 1.0, 2.0;
   -fx-background-radius:  0.0, 0.0;
   -fx-text-fill: #B94A48;
   -fx-opacity: 0.95;
   -fx-font-weight: bold;
   -fx-padding: 0.3em 0.4em 0.3em 0.4em;    
}
/**
 * Banner
 */
 .pdfsam-banner{
 	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
 }
/**
 * Preferences panel
 */
.preference-pane {
	-fx-padding: 0.4em 0.1em 0.4em 0.1em;    
}
.preference-pane > .title {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-font-weight: bold; 
}
.preference-pane > *.content {
   -fx-background-color: -fx-box-border, white;
   -fx-background-insets: 0.0, 0.0 1.0 1.0 1.0;
   -fx-background-radius: 0.0, 0.0;
}
.preference {
	-fx-padding: 0.0 0.0 0.5em 0.0 ;
}
/**
 * MenuBar
 */
 .pdfsam-menubar {
 	-fx-padding: 0.0em 0.1em 0.0em 0.1em; 
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 0 0 1 0;
    -fx-background-radius: 0, 0 ;
 }
.pdfsam-menubar > .container > .menu-button > .label {
    -fx-padding: 0.2em 0.3em 0.2em 0.3em;
}
.pdfsam-menubar .context-menu {
   -fx-background-color: -fx-box-border, -fx-selection-bar;
   -fx-background-insets: -1 0 0 0, 0 1 1 1;
   -fx-background-radius:  0.0, 0.0;
   -fx-text-fill: -fx-selection-bar-text;
   -fx-padding: 0.0;
}
.pdfsam-menubar > .container > .menu-button:hover, .pdfsam-menubar > .container > .menu-button:focused, .pdfsam-menubar > .container > .menu-button:showing {
    -fx-background-insets: 0 0 1 0;
}
.pdfsam-menubar .context-menu .menu-item:focused {
     -fx-background-color: transparent, -fx-control-inner-background;
     -fx-background-insets: 0.0, 2 1 1 1 ;
}
.pdfsam-menubar .menu:focused > .right-container > .arrow {
    -fx-background-color: -fx-selection-bar-text;
}
/**
 * General
 */
.borded-pane {
    -fx-padding: 0.0;
    -fx-border-width: 1.0;
    -fx-border-color: theme-color;
}
.pdfsam-container {
	-fx-border-width: 0.0;
	-fx-padding: 8.0;
}
.button-container {
	-fx-padding: 10.0;
	-fx-spacing: 0.7em;
}
.header {
	-fx-background-color: theme-color;
}
.title {
	 -fx-text-fill: white;
}
.text-input:focused {
    -fx-highlight-text-fill: #333333;
}
.invalid{
   -fx-background-color:  error-color, -fx-control-inner-background;
   -fx-background-insets: 0.0, 1.0;
}
.invalid:focused{
   -fx-background-color:  error-color, -fx-control-inner-background;
   -fx-background-insets: 0.0, 1.0;
   -fx-effect: dropshadow( three-pass-box , error-color , 10.0, 0.0 ,1.0 ,1.0 );
}
.check-box > .box {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0 0.0;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}
.check-box:focused > .box {
	-fx-background-color: -fx-focus-color, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-effect: dropshadow( three-pass-box , -fx-text-box-border , 10.0, 0.0 ,1.0 ,1.0 );	
}
.check-box > .box > .mark {
    -fx-padding: 0.3em; 
}
.combo-box-base  {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0 0.0;
    -fx-padding: 0.0;
}
.menu:show-mnemonics > .mnemonic-underline {
    -fx-stroke: theme-color;
}
.menubar:show-mnemonics > .mnemonic-underline {
    -fx-stroke: theme-color;
}
.menu-item:show-mnemonics > .mnemonic-underline {
    -fx-stroke: theme-color;
}
.context-menu:show-mnemonics > .mnemonic-underline {
    -fx-stroke: theme-color;
} 