.root { 
	theme-color: green;
	-fx-text-box-border: #CCCCCC;
	-fx-focus-color: rgba(82.0, 168.0, 236.0, 0.8);
	-fx-control-inner-background: #F9F9F9;
	-fx-selection-bar: #F3F3F3;
	-fx-selection-bar-text: #333333;
	ctx-menubg-color: #FFFFFF;
	-fx-accent: #D8D8D8 !important;
	-fx-disabled-opacity: 0.4;
}
.borded-pane {
    -fx-padding: 0.0;
    -fx-border-width: 1.0;
    -fx-border-color: theme-color;
}
.container {
	-fx-border-width: 0.0;
	-fx-padding: 8.0;
}
.header {
	-fx-background-color: theme-color;
}
.title {
	 -fx-text-fill: white;
}
/**
 * TextArea
 */
.text-area{
	-fx-background-color:  -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1.0;
    -fx-background-radius:  0.0, 0.0;
}
.text-area:focused {
    -fx-background-color: -fx-focus-color, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-prompt-text-fill: transparent;
    -fx-effect: dropshadow( three-pass-box , -fx-text-box-border , 10.0, 0.0 ,1.0 ,1.0 );
}
/**
 * Buttons
 */
.pdfsam-button {
    -fx-background-color: #E5E5E5;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 7.0px 14.0px 7.0px 14.0px;
    -fx-text-fill: #333333 !important;
}

.pdfsam-button:focused, .pdfsam-button:default, .pdfsam-button:armed, .pdfsam-button:hover {
    -fx-background-color: theme-color, #E5E5E5;
    -fx-background-insets: 0.0, 0.0 0.0 3.0 0.0;
    -fx-background-radius:  0.0;
}

.pdfsam-button:hover {
    -fx-background-color: theme-color, #D8D8D8;
}

.pdfsam-button:armed {
    -fx-opacity: 0.9;
}

.pdfsam-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

/**
 * Context menu
 */
.context-menu {
   -fx-background-color:  ctx-menubg-color, -fx-focus-color, ctx-menubg-color;
   -fx-background-insets: -1.0, 1.0, 2.0;
   -fx-background-radius:  0.0,0.0, 0.0;
   -fx-padding: 0.0;
}
.context-menu .menu-item {
     -fx-background-insets: 2.0;	
}
.context-menu .menu-item .label {
    -fx-padding: 3.0px 0.0px 3.0px 0.0px;
}
.context-menu .menu-item:focused {
     -fx-background-color: -fx-selection-bar;
}
.context-menu .menu-item:focused .label {
    -fx-text-fill: -fx-selection-bar-text;
}
.context-menu .menu-item:disabled {
    -fx-background-color: ctx-menubg-color; 
}
.context-menu .menu-item:disabled .label {
    -fx-opacity: -fx-disabled-opacity;
}
.context-menu .separator {
	-fx-padding: 0.0 0.4em 0.0 0.4em;
}
/**
 * About panel
 */
#aboutLabelAppName{
	-fx-font-size: 1.8em;
	-fx-font-style: bold;
}
#versionLabel{
	-fx-font-size: 0.8em;
	-fx-font-style: bold;
	-fx-padding: 0.0 0.0 1.7em 0.0;
}
#aboutLabelsContainer{
	-fx-padding: 10.0px;
}
#logoContainer{
	-fx-padding: 0.0 1.8em 0.0 0.0;
}