.root { 
	theme-color: #339933;
	hover-color: #DDDDDD;
	default-bg:  -fx-background;
	-fx-text-box-border: #A7A7A7;
	-fx-box-border: -fx-text-box-border; 
	-fx-focus-color: derive(theme-color, 40.0%);
	-fx-control-inner-background: #F9F9F9;
	text-fill-on-dark: #F9F9F9;
	-fx-selection-bar: #F3F3F3;
	ctx-menubg-color: #FFFFFF;
	-fx-accent: #D8D8D8 !important;
	-fx-disabled-opacity: 0.4;
	error-color: #B94A48;
}



/**
 * Context menu
 */
.context-menu {
   -fx-background-color:  ctx-menubg-color, theme-color, ctx-menubg-color;
   -fx-background-insets: -1.0, 1.0, 2.0;
   -fx-background-radius:  0.0,0.0, 0.0;
   -fx-padding: 0.0;
}
.context-menu .menu-item {
     -fx-background-insets: 2.0;	
}
.context-menu .menu-item .label {
    -fx-padding: 3.0px 0.0px 3.0px 0.0px;
}
.context-menu .menu-item:focused {
    -fx-background-color: -fx-accent;
}
.context-menu .menu-item:focused .label {
    -fx-text-fill: -fx-selection-bar-text;
}
.context-menu .menu-item:disabled {
    -fx-background-color: ctx-menubg-color; 
}
.context-menu .menu-item:disabled .label {
    -fx-opacity: -fx-disabled-opacity;
}
.context-menu .separator {
	-fx-padding: 0.0 0.4em 0.0 0.4em;
}

/**
 * Table view
 */
.table-view{
}
.table-view:focused {
    -fx-background-color: -fx-focus-color, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 10.0, 0.0 ,1.0 ,1.0 );
}
.table-view .column-header{
 	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.0 1.0 1.0 0.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-font-weight: bold; 
}
.table-row-cell{
 	-fx-background-radius: 0.0;
}
.table-row-cell:focused,
.table-row-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0.0, 1 0 1 0, 2.0 0 2.0 0;
}
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected{
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected{
	-fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-8%);
    -fx-background-insets: 0.0, 1 0 1 0, 2.0 0.0 2.0 0.0;
}
/**
 * Selection table toolbar
 */
.selection-tool-bar:horizontal {
   -fx-background-color: transparent;
   -fx-background-insets: 0.0;
   -fx-background-radius: 0.0;
   -fx-padding: 0.416667em 0.0 0.416667em 0.0;
}
.selection-tool-bar .button {
   -fx-background-color: derive(theme-color, -5.0%), theme-color;
   -fx-background-insets: 0.0, 1;
   -fx-background-radius: 0.0;
}
.selection-tool-bar .button:hover {
   -fx-background-color: derive(theme-color, -5.0%), derive(theme-color, 15.0%);
   -fx-background-insets: 0.0, 1;
}
.selection-tool-bar .button:armed {
   -fx-background-color: derive(theme-color, -5.0%), derive(theme-color, -15.0%);
   -fx-background-insets: 0.0, 1;
}

.main-scroll-panel {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}

.main-scroll-panel:focused {
    -fx-background-color: -fx-background;
    -fx-background-insets: 1.0;
}

/**
 * General
 */
.borded-pane {
    -fx-padding: 0.0;
    -fx-border-width: 1.0;
    -fx-border-color: theme-color;
}

.header {
	-fx-background-color: theme-color;
}
.title {
	 -fx-text-fill: white;
}



.menu:show-mnemonics > .mnemonic-underline {
    -fx-stroke: theme-color;
}
.menubar:show-mnemonics > .mnemonic-underline {
    -fx-stroke: theme-color;
}
.menu-item:show-mnemonics > .mnemonic-underline {
    -fx-stroke: theme-color;
}
.context-menu:show-mnemonics > .mnemonic-underline {
    -fx-stroke: theme-color;
} 

