/**
 * Advanced destination pane
 */
.advanced-destination-pane{
 	-fx-effect: none; 
	-fx-background-color: -advanced_bg;
    -fx-background-insets: 0.0; 
} 
.advanced-destination-pane > .title {
	-fx-background-color: -advanced_bg;
}
.advanced-destination-pane > *.content {
	-fx-background-color: -advanced_bg;
	-fx-background-insets: 0.0;
}
/**
 * Footer button
 */
.footer-button, .footer-button:default, .footer-button:focused {
    -fx-padding: 0.166667em 1.333333em 0.166667em 1.0em;
}
.footer-open-button, .footer-open-button:default, .footer-open-button:focused {
	-fx-padding: 0.0 0.0 0.0 1.0em;
}
.footer-open-button > .label, .footer-open-button:focused > .label {
	-fx-padding: 0.0 0.5em 0.0 0.5em; 
}
/**
 * Browse button
 */
.browse-button {
	-fx-padding: 0.0 1.166666em 0.0 1.166666em;
	-fx-alignment: center;
}
.browsable-field{
	-fx-alignment: center-left;
	-fx-spacing: 0.416667em;
}
