.root { 
	-pdfsam-light-border-color: #D4D4D4;
	-pdfsam-hover-color: #D4D4D4;
	-pdfsam-dark-text-color: derive(-pdfsam-light-border-color, -70.0%);
	-pdfsam-button-color: #E5E5E5;
	-pdfsam-defaultbg-color: -fx-background;
	-pdfsam-headerbg-color: #FFFFFF;
	-pdfsam-tooltipbg-color: #FFFFFF;
	-pdfsam-pwdpopupbg-color: rgba(255.0,255.0,255.0,0.9);
	-pdfsam-error-color: #CF0000;	
	-fx-focus-color: derive(lightslategray, 90.0%);
	-fx-accent: -fx-focus-color;
	-fx-highlight-text-fill: -pdfsam-dark-text-color;
	-pdfsam-default-effect: dropshadow(three-pass-box, -pdfsam-theme-color, 10.0, 0.0, 0.0, 2.0);
	-fx-disabled-opacity: 0.4;
	-pdfsam-info-color: #4AAAD2;	
	awesome-color: derive(-pdfsam-light-border-color, -20.0%);
	awesome-color-hover: derive(-pdfsam-light-border-color, -35.0%);	
	awesome-error-color: #ED5554;
	awesome-error-color-hover: derive(awesome-error-color, -35.0%);	
}
.label {
	-fx-text-fill: -pdfsam-dark-text-color;
}
.scroll-pane {
    -fx-background-color: -pdfsam-defaultbg-color;
    -fx-background-insets: 0.0;
    -fx-padding: 1.0;
}
.default-container {
	-fx-background-color: -pdfsam-defaultbg-color;
	-fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.pdfsam-container {
	-fx-border-width: 0.0;
	-fx-padding: 8.0;
}
.pdfsam-module-container {
	-fx-border-width: 0.0;
	-fx-padding: 8.0;
	-fx-spacing: 5.0;
}
.button-container {
	-fx-padding: 10.0;
	-fx-spacing: 0.7em;
}
.spaced-vitem {
	-fx-padding: 0.0 0.0 0.5em 0.0 ;
}
.encryption-status {
	-fx-content-display: graphic-only; 
}
.pdfsam-grid {
	-fx-hgap: 5.0px;
	-fx-vgap: 0.5em;
}
.spaced-hcontainer {
	-fx-spacing: 5.0px;
	-fx-alignment: bottom-left;
}
/**
 * footer for pane
 */
.pdfsam-footer-close-pane{
 	-fx-border-width: 0.0;
	-fx-alignment: bottom-right;
}
.pdfsam-footer-close-pane .awesome {
    -fx-effect: null;
    -fx-text-fill: awesome-color;
}
.pdfsam-footer-button, .pdfsam-footer-button:focused, .pdfsam-toolbar-button:hover{
    -fx-background-color: -pdfsam-defaultbg-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.pdfsam-footer-button:hover .awesome{
	-fx-text-fill: awesome-color-hover;
}
.pdfsam-footer-button:armed {
  -fx-opacity: 0.6;
}
.pdfsam-footer-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.pdfsam-footer-failed-button .awesome{
    -fx-text-fill: awesome-error-color;
}
.pdfsam-footer-failed-button:hover .awesome{
    -fx-text-fill: awesome-error-color-hover;	
}
/**
 * hyperlink
 */
.pdfsam-hyperlink {
	-fx-cursor: hand;
	-fx-background-color: -pdfsam-defaultbg-color;
	-fx-text-fill: derive(-pdfsam-info-color, -20.0%);
}
.pdfsam-hyperlink:hover {
	-fx-underline: true;
}
.pdfsam-hyperlink:armed {
	-fx-underline: false;
	-fx-opacity: 0.7;
}
/**
 * TextField
 */
.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: -pdfsam-dark-text-color;
}
.text-field {
   	-fx-background-color:  -fx-text-box-border, -fx-control-inner-background;
  	-fx-background-insets: 0.0, 1.0;
  	-fx-background-radius:  0.0, 0.0;
}
.text-field:focused {
    -fx-background-color: -pdfsam-theme-color, derive(-pdfsam-light-border-color, -15.0%), -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0, 1.0 1.0 1.0 1.0;
    -fx-background-radius: 0.0, 0.0;
}
.browsable-field{
	-fx-alignment: center-left;
}
/**
 * ValidableContainer
 */
.validable-container {
	-fx-background-color:  -fx-text-box-border, -fx-control-inner-background;
   	-fx-background-insets: 0.0, 1.0;
   	-fx-background-radius:  0.0, 0.0;	
	-fx-padding: 1.0;
	-fx-alignment: center-left;
	-fx-min-width: 280.0;
}
.validable-container:selected {
    -fx-background-color: -pdfsam-theme-color, derive(-pdfsam-light-border-color, -15.0%), -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0, 1.0 1.0 1.0 1.0;
    -fx-background-radius: 0.0, 0.0;
}
.validable-container-field {
   -fx-background-color:  -fx-control-inner-background;
   -fx-background-insets: 0.0;
   -fx-background-radius:  0.0;
}
.validable-container-field:focused {
   -fx-background-color:  -fx-control-inner-background;
   -fx-background-insets: 0.0;
   -fx-background-radius:  0.0;
}
/**
 * Tooltip
 */
.tooltip {
  	-fx-background-color:  -pdfsam-light-border-color, -pdfsam-tooltipbg-color;
    -fx-background-insets:  0.0, 1.0;
   	-fx-background-radius:  0.0, 0.0;
   	-fx-text-fill: -pdfsam-dark-text-color;
}
/**
 * Buttons
 */
.pdfsam-button {
    -fx-background-color:  -pdfsam-light-border-color, -pdfsam-button-color;
    -fx-background-insets:  0.0, 1.0;
    -fx-background-radius: 0.0;
    -fx-padding: 7.0px 14.0px 7.0px 14.0px;
    -fx-text-fill: -pdfsam-dark-text-color !important;
}
.pdfsam-button:focused, .pdfsam-button:default, .pdfsam-button:armed, .pdfsam-button:hover {
    -fx-background-color: -pdfsam-theme-color, -pdfsam-hover-color, -pdfsam-button-color;
    -fx-background-insets:  0.0, 0.0 0.0 1.0 0.0, 1.0;
    -fx-background-radius:  0.0;
}
.pdfsam-button:hover {
    -fx-background-color: -pdfsam-theme-color, -pdfsam-hover-color;
}
.pdfsam-button:armed{
    -fx-opacity: 0.85;
}
.pdfsam-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.browse-button {
    -fx-background-insets:  0.0, 1.0 1.0 1.0 0.0;
	-fx-padding: 0.0px 14.0px 0.0px 14.0px;
	-fx-alignment: center;
}
.browse-button:focused, .browse-button:default, .browse-button:armed, .browse-button:hover {
    -fx-background-insets:  0.0, 0.0 0.0 1.0 0.0, 1.0 1.0 1.0 0.0;
    -fx-background-radius:  0.0;
}
/**
 * Error tooltip
 */
.error-tooltip {
   -fx-background-color:  #EED3D7, #F2DEDE;
   -fx-background-insets: 1.0, 2.0;
   -fx-background-radius:  0.0, 0.0;
   -fx-text-fill: #B94A48;
   -fx-opacity: 0.95;
   -fx-font-weight: bold;
   -fx-padding: 0.3em 0.4em 0.3em 0.4em;    
}
/**
 * Checkbox
 */
.check-box > .box {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0 0.0;
}
.check-box:focused > .box {
	-fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.6, 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0, 0.0;
}
.check-box > .box > .mark {
    -fx-padding: 0.3em; 
}
.check-box:selected > .box > .mark {
    -fx-background-color: -fx-mark-highlight-color, -pdfsam-theme-color;
}
/**
 * Radio
 */
.radio-button > .radio  {
   -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
   -fx-background-insets: 0.0, 1.0;
   -fx-padding: 0.2em; 
}
.radio-button:focused > .radio {
   -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
   -fx-background-insets: -1.6, 0.0, 1.0;
}
.radio-button:selected > .radio > .dot {
   -fx-background-color: -fx-mark-highlight-color, -pdfsam-theme-color;
   -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0;
}
/**
 * Combo
 */
.combo-box-base  {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0 0.0;
    -fx-padding: 0.0;
}

.combo-box-base > .arrow-button {
   -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
   -fx-background-insets: 0.0,  1.0 1.0 1.0 0.0;
   -fx-background-radius: 0.0,0.0,0.0;
}

.combo-box-base:hover > .arrow-button{
   -fx-background-color:  -fx-text-box-border, -pdfsam-hover-color;
   -fx-background-insets: 0.0, 1.0 1.0 1.0 0.0;
   -fx-background-radius: 0.0,0.0,0.0;
}
/**
 * Titled panel
 */
 .titled-pane {
	-fx-padding: 0.4em 0.0 0.4em 0.0;    
}
.titled-pane > .title {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-font-weight: bold; 
}
.titled-pane > *.content {
   -fx-background-color: -fx-box-border, white;
   -fx-background-insets: 0.0, 0.0 1.0 1.0 1.0;
   -fx-background-radius: 0.0, 0.0;
}
/**
 * TextArea
 */
.text-area{
	-fx-background-color:  -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius:  0.0, 0.0;
}
.text-area:focused {
	-fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.8, 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0, 0.0;
    -fx-prompt-text-fill: transparent;
}
/**
 * Table placeholder
 */
.drag-drop-placeholder{
	-fx-alignment: center;
 	-fx-font-weight: bold; 
 	-fx-padding: 25.0;
 	-fx-font-size: 2.0em;
 	-fx-background-color: white;
 	-fx-border-color: derive(-pdfsam-light-border-color, -10.0%);
 	-fx-text-fill: derive(-pdfsam-light-border-color, -10.0%);
 	-fx-border-radius: 7.0px;
 	-fx-border-style: dashed;
 	-fx-border-width: 3.5px;
}
.drag-drop-placeholder:disabled {
    -fx-opacity: 1.0;
 	-fx-border-color: -pdfsam-light-border-color;
 	-fx-text-fill: -pdfsam-light-border-color;
 	-fx-border-width: 3.0px;
}
/**
 * Table view
 */
.table-view .column-header{
 	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.0 1.0 1.0 0.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-font-weight: bold; 
}
.table-view:focused {
	-fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.8, 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0, 0.0;
}
/**
 * Selection table toolbar
 */
.selection-tool-bar:horizontal {
   -fx-background-color: transparent;
   -fx-background-insets: 0.0;
   -fx-background-radius: 0.0;
   -fx-padding: 0.416667em 0.0 0.416667em 0.0;
}
/**
 * Invalid
 */
.invalid{
   -fx-background-color:  derive(-pdfsam-error-color, 80.0%), -fx-control-inner-background;
   -fx-background-insets: 0.0, 1.0;
}
.invalid:focused{
   -fx-background-color:  -pdfsam-error-color, -fx-control-inner-background;
   -fx-background-insets: 0.0, 1.0;
}
/**
 * Password popup
 */
.pdfsam-input-password {
	-fx-background-color: -pdfsam-pwdpopupbg-color;
	-fx-background-insets: 1.0;
    -fx-background-radius: 3.0;
    -fx-border-color: -pdfsam-light-border-color;
    -fx-border-width: 1.0;
    -fx-border-radius: 3.0;
    -fx-padding: 10.0px;
    -fx-spacing: 5.0px;
}
.pdfsam-input-password-content .pdfsam-button{
	-fx-padding: 0.0px 14.0px 0.0px 14.0px;
}