/**
 * Progress panel
 */
.footer-pane {
	-fx-background-color: -pdfsam-defaultbg-color;
	-fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
	-fx-spacing: 0.2em;
	-fx-alignment: bottom-center;
	-fx-max-height: 46.0px;
    -fx-min-height: 46.0px;
}
.progress-pane {
	-fx-alignment: bottom-left;
	-fx-min-height: 30.0px;
	-fx-spacing: 5.0px;
}
.progress-pane .status-label {
	-fx-background-color:  -pdfsam-button-color;
	-fx-background-radius: 0.0;
	-fx-padding: 1.0px 10.0px;
	-fx-font-size: 0.8em;
	-fx-pref-height: 0.8em;
	-fx-max-height: 1.4em;
    -fx-min-height: 0.8em;
	-fx-font-weight: bold;
}
.footer-pane .progress-bar {
   -fx-indeterminate-bar-escape: false;
   -fx-indeterminate-bar-animation-time: 1.0;
   -fx-max-height: 5.0px;
   -fx-min-height: 5.0px;
   -fx-pref-height: 5.0px;
}
.footer-pane  .progress-bar > .bar {
  	-fx-background-color:  -pdfsam-light-border-color, -pdfsam-theme-color;
  	-fx-background-insets: 0.0, 1.0;
   	-fx-background-radius:  0.0, 0.0;				
}
.footer-pane  .progress-bar:indeterminate > .bar {
  	-fx-background-color:  derive(-pdfsam-theme-color, 90.0% );
  	-fx-background-insets: 0.0;
   	-fx-background-radius:  0.0;		
}
.footer-pane  .progress-bar:indeterminate > .track {  	
  	-fx-background-color:  -pdfsam-light-border-color, white;
  	-fx-background-insets: 0.0, 1.0;
   	-fx-background-radius:  0.0, 0.0;		
}
.footer-pane  .progress-bar > .track {
  	-fx-background-color:  -pdfsam-light-border-color, white;
  	-fx-background-insets: 0.0, 1.0;
   	-fx-background-radius:  0.0, 0.0;		
}