/**
 * Progress panel
 */
.progress-pane {
 	-fx-padding: 0.0;
	-fx-spacing: 0.5em;
	-fx-alignment: baseline-left;
	-fx-padding: 0.0 14.0;
}
.progress-status {
	-fx-highlight-text-fill: dark-text-color;
	-fx-font-size: 0.85em;
}
.progress-status-pane{
	-fx-spacing: 0.5em;
	-fx-alignment: baseline-left;
}
.progress-pane > .progress-bar {
   -fx-indeterminate-bar-escape: false;
   -fx-indeterminate-bar-animation-time: 1.0;
   -fx-min-height: 5.0px;
   -fx-pref-height: 5.0px;
   -fx-pref-width: 300.0px;
}
.progress-pane > .progress-bar > .bar {
  	-fx-background-color:  light-border-color, theme-color;
  	-fx-background-insets: 0.0, 1.0;
   	-fx-background-radius:  0.0, 0.0;		
}
.progress-pane > .progress-bar:indeterminate > .bar {
  	-fx-background-color:  light-border-color, theme-color;
  	-fx-background-insets: 0.0, 1.0;
   	-fx-background-radius:  0.0, 0.0;		
}
.progress-pane > .progress-bar:indeterminate > .track {
  	-fx-background-color:  light-border-color, white;
  	-fx-background-insets: 0.0, 1.0;
   	-fx-background-radius:  0.0, 0.0;		
}
.progress-pane > .progress-bar > .track {
  	-fx-background-color:  light-border-color, white;
  	-fx-background-insets: 0.0, 1.0;
   	-fx-background-radius:  0.0, 0.0;		
}