<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <UI Id="featuresTree">
	      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
          <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
          <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

          <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
          <Property Id="WixUI_Mode" Value="FeatureTree" />

          <DialogRef Id="ErrorDlg" />
          <DialogRef Id="FatalError" />
          <DialogRef Id="FilesInUse" />
          <DialogRef Id="MsiRMFilesInUse" />
          <DialogRef Id="PrepareDlg" />
          <DialogRef Id="ProgressDlg" />
          <DialogRef Id="ResumeDlg" />
          <DialogRef Id="UserExit" />
	      <DialogRef Id="RequirementsDlg" />
	      <DialogRef Id="VerifyWithLanguageDlg" />

	      <UIRef Id="WixUI_ErrorProgressText" />
	      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed</Publish>
       	  <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyWithLanguageDlg">Installed AND PATCH</Publish>

          <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
		  <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="RequirementsDlg" Order="2">LicenseAccepted = "1"</Publish>

          <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
	      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="RequirementsDlg" Order="3">NOT Installed</Publish>
	      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyWithLanguageDlg" Order="2">1</Publish>

	      <Publish Dialog="VerifyWithLanguageDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
	      <Publish Dialog="VerifyWithLanguageDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
	      <Publish Dialog="VerifyWithLanguageDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">Installed AND PATCH</Publish>

          <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

          <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
	      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyWithLanguageDlg">1</Publish>
	      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyWithLanguageDlg">1</Publish>
          <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

	      <Publish Dialog="PDFsamExitDialog" Control="Finish"  Event="DoAction" Value="LaunchApplication" Order="2">LAUNCHAPPONEXIT = 1 and NOT Installed</Publish>
	      <Publish Dialog="PDFsamExitDialog" Control="Finish" Event="EndDialog" Value="Return">1</Publish>
        </UI>
    	<UIRef Id="WixUI_Common" />
    </Fragment>
</Wix>
