<configuration>

	<!-- This is the default pdfsam logging configuration -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="JTEXTPANE" class="org.pdfsam.gui.log.TextPaneAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.sejda" level="DEBUG" />
	<logger name="org.pdfsam" level="TRACE" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.springframework" level="INFO" />

	<root level="TRACE">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="JTEXTPANE" />
	</root>
</configuration>