.root { 
	menubg-color: #FFFFFF;
}
.header-title{
	-fx-font-weight: bold; 
	-fx-font-style: italic;
	-fx-text-fill: awesome-color;
	-fx-padding: 8.0 4.0 8.0 1.0;
}
/**
 * Notifications
 */
.notifications{
	-fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-alignment: bottom-center; 
    -fx-translate-y: -42.0;
    -fx-spacing: 5.0px;
    -fx-max-width: 340.0px;
    -fx-min-width: 340.0px;
}
.notification {
 	-fx-background-color: -fx-box-border, tooltipbg-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
	-fx-padding: 2.0 8.0 8.0 8.0 ;
	-fx-effect: dropshadow(three-pass-box, dark-text-color, 10.0, 0.0, 0.0, 3.0);
	-fx-max-width: 320.0px;
    -fx-min-width: 320.0px;
}

.notification-title{
	-fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-padding: 6.0 0.0 4.0 0.0;
}

.notification-text{
	-fx-font-size: 1.1em;
	-fx-wrap-text: true;
	-fx-graphic-text-gap: 8.0px;
}
.notification-error .awesome, .notification-error .awesome:hover{
    -fx-effect: null;
    -fx-text-fill: #ED5554;
}
.notification-warn .awesome, .notification-warn .awesome:hover{
    -fx-effect: null;
    -fx-text-fill: #EEAD69;
}
.notification-info .awesome, .notification-info .awesome:hover{
    -fx-effect: null;
    -fx-text-fill: info-color;
}
.notification .close{
	-fx-background-color:  transparent;
    -fx-background-insets:  0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0.0px;
    -fx-: 0.0px;
}
.notification .close:hover .awesome{
 	-fx-text-fill: derive(-fx-text-base-color, 70.0%);
}
.notification .close:armed .awesome{
 	-fx-text-fill: derive(-fx-text-base-color, 30.0%);
}
/**
 * Dashboard panels
 */
.small-label{
	-fx-font-size: 0.8em;
}
.section-title {
	-fx-font-size: 1.2em;
	-fx-padding: 1.2em 0.0 0.0 0.0;
	-fx-font-weight: bold;
}
.dashboard-container{
	-fx-border-width: 0.0;
	-fx-padding: 1.2em;
	-fx-spacing: 30.0px;
}
/**
 * Dashoard modules
 */
.dashboard-modules{
	-fx-hgap: 1.0em;
	-fx-vgap: 1.0em;
	-fx-column-halignment: left;
	-fx-row-valignment: top;
	-fx-orientation: horizontal;
}
.dashboard-modules-tile {
	-fx-padding: 0.0px;
	-fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.dashboard-modules-tile-inner {
 	-fx-background-color: derive(defaultbg-color, -10.0%), tooltipbg-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0;
	-fx-padding: 8.0px;
	-fx-max-width: 260.0px;
    -fx-min-width: 260.0px;
    -fx-effect: dropshadow(one-pass-box, derive(defaultbg-color, -10.0%), 6.0, 0.0, 1.0, 2.0);
}
.dashboard-modules-invisible-button, .dashboard-modules-invisible-button:hover, .dashboard-modules-invisible-button:armed{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;	
}
.dashboard-modules-tile:hover .dashboard-modules-tile-inner{
	-fx-effect: dropshadow(three-pass-box, derive(defaultbg-color, -30.0%), 10.0, 0.0, 0.0, 4.0);
}
.dashboard-modules-tile:armed .dashboard-modules-tile-inner{
	-fx-effect: innershadow(three-pass-box, derive(defaultbg-color, -20.0%), 10.0, 0.0, 1.0, 1.0);
}
.dashboard-modules-tile-title{
	-fx-font-size: 1.2em;
    -fx-font-weight: bold;
	-fx-graphic-text-gap: 8.0px;
    -fx-padding: 6.0 0.0 4.0 0.0;
	-fx-wrap-text: true;
}
.dashboard-modules-tile-text{
	-fx-font-size: 1.1em;
	-fx-wrap-text: true;
}
.dashboard-modules-toolbar {
	-fx-alignment: center-right;
}
.dashboard-modules-toolbar .awesome {
    -fx-effect: null;
    -fx-text-fill: awesome-color;
}
/**
 * Log
 */
.log-view{
 	-fx-background-color: -fx-box-border,#FFFFFF;
    -fx-background-insets: 0.0, 1.0;
    -fx-padding: 1.0;
}
.log-view:focused {
 -fx-background-color: -fx-focus-color,-fx-box-border,#FFFFFF;
    -fx-background-insets: -1.4, 0.0, 1.0;
    -fx-background-radius: 1.4, 0.0, 0.0;    
}
.log-view .list-cell,.list-cell:odd {
}
.warn-log{
	-fx-text-fill: derive(info-color, -30.0%);
}
.error-log{
	-fx-text-fill: error-color;
}
/**
 * Banner
 */
 .pdfsam-banner{
 	-fx-padding: 0.0;
 	-fx-background-color: light-border-color, headerbg-color;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-alignment: bottom-left;  
 }
.pdfsam-banner .awesome {
    -fx-effect: null;
    -fx-text-fill: awesome-color;
}
.pdfsam-logo{
	-fx-padding: 8.0 4.0 8.0 12.0;
 	-fx-spacing: 15.0px;
 	-fx-alignment: center-left;    
}
.pdfsam-banner-buttons{
	-fx-padding: 0.0 3.0em 0.0 0.0;
 	-fx-spacing: 5.0px;
 	-fx-alignment: center-right;
 }
.pdfsam-toolbar-button, .pdfsam-toolbar-button:focused {
    -fx-background-color: headerbg-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.pdfsam-toolbar-button:hover{
    -fx-background-color:  theme-color, headerbg-color;
    -fx-background-insets:  0.0, 0.0 0.0 1.5 0.0 ;
    -fx-background-radius: 0.0;
}
.pdfsam-toolbar-button:hover .awesome{
	-fx-text-fill: awesome-color-hover;
}
.pdfsam-toolbar-button:armed {
  -fx-opacity: 0.6;
}
.pdfsam-toolbar-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.logs-notification {
	-fx-background-color: derive(error-color, -10.0%), error-color;
	-fx-background-insets:  0.0, 1.0;
    -fx-background-radius: 2.0px;
	-fx-font-size: 11.0px;
	-fx-font-weight: bold;
	-fx-padding: 1.5 2.5 1.5 2.5;
	-fx-translate-y: -6.0px;
	-fx-translate-x: 3.0px;
	-fx-text-fill: #FFFFFF;
	-fx-opacity: 0.95;
}
/**
 * Quickbar
 */
.quickbar {
	-fx-background-color: defaultbg-color;
   	-fx-background-insets: 0.0;
    -fx-padding: 1.0em 0.0 1.0em 0.0;
} 
.quickbar-buttons {
	-fx-background-color: light-border-color, defaultbg-color;
   	-fx-background-insets: 0.0, 0.0 1.0 0.0 0.0;
   	-fx-padding: 0.0 0.0 0.0 3.0px;
}
.quickbar-expand-button {
	-fx-padding: 0.0 0.0 0.5em 0.0;
	-fx-alignment: top-right;
}
.quickbar-expand-toggle, .quickbar-expand-toggle:focused {
	-fx-background-color:  defaultbg-color;
    -fx-background-insets:  0.0;
}
.quickbar-expand-toggle:armed, .quickbar-expand-toggle:hover {
    -fx-background-color: hover-color;
    -fx-background-insets:  0.0;
}
.quickbar-expand-toggle:armed{
    -fx-opacity: 0.85;
}
.quickbar-button-arrow {
	-fx-fill: dark-text-color;
}
.quickbar-items{
	-fx-padding: 0.0 0.0 1.0em 0.0;
}
.quickbar-navigation-button, .quickbar-navigation-button:focused {
	-fx-background-color:  light-border-color, defaultbg-color;
    -fx-background-insets:  0.0, 0.0 1.0 0.0 0.0 ;
    -fx-alignment: center-left;
    -fx-background-radius: 0.0;
    -fx-padding: 5.0px 10.0px 5.0px 10.0px;
    -fx-min-width: 50.0px;
    -fx-max-height: 40.0px;
    -fx-min-height: 40.0px;
}
.quickbar-navigation-button:hover{
	-fx-background-color:  theme-color, light-border-color, defaultbg-color;
    -fx-background-insets:  0.0, 0.0 0.0 0.0 1.5, 0.0 1.0 0.0 1.5;		
}
.quickbar-navigation-button:armed {
    -fx-background-color:  light-border-color, -fx-focus-color;
    -fx-background-insets:  0.0, 0.0 1.0 0.0 0.0 ;
}
.quickbar-navigation-button:selected{
	-fx-background-color:  light-border-color, defaultbg-color;
    -fx-background-insets:  0.0 , 1.0 0.0 1.0 0.0 ;
}
.quickbar-navigation-button:disabled {
    -fx-opacity: 1.0;
}
.quickbar-navigation-button .quickbar-navigation-button-graphic{
	-fx-opacity: 0.85;
}
.quickbar-navigation-button:disabled .quickbar-navigation-button-graphic{
    -fx-opacity: 0.4;
}
.quickbar-navigation-button:hover .quickbar-navigation-button-graphic{
	-fx-opacity: 1.0;
}
/**
 * Dashboard
 */
.quickbar-navigation-button .awesome{
    -fx-effect: null;
    -fx-text-fill: awesome-color;
    -fx-opacity: 1.0;
}
.quickbar-navigation-button:hover .awesome {
	-fx-text-fill: awesome-color-hover;
}
/**
 * Info pane
 */
.info-props{
	-fx-background-color:  light-border-color, #FFFFFF;
    -fx-background-insets:  0.0, 1.0;	
	-fx-border-radius: 0.0;
	-fx-padding: 15.0;
	-fx-hgap: 10.0px;
	-fx-vgap: 10.0px;
}
.info-property-value, .info-property {
	-fx-background-color: #FFFFFF;
    -fx-background-insets:  0.0;	
	-fx-border-radius: 0.0;
}
.info-property {
	-fx-font-weight: bold;
}
.tab-pane > .tab-header-area > .headers-region > .tab:left {
    -fx-background-color: defaultbg-color, light-border-color, #FFFFFF;
    -fx-background-insets: 0.0, 1.0, 2.0 2.0 2.0 2.0;
    -fx-background-radius: 0.0;
    -fx-opacity: 0.9;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: defaultbg-color, theme-color, light-border-color, #FFFFFF;
    -fx-background-insets: 0.0, 1.0, 2.5 1.0 1.0 1.0, 2.5 2.0 2.0 2.0;
    -fx-opacity: 1.0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0.0;
}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: defaultbg-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-effect: null;
}
