/**
 * Banner
 */
 .pdfsam-banner{
 	-fx-padding: 0.0;
 	-fx-background-color: light-border-color, headerbg-color;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-alignment: bottom-left;  
 }
.pdfsam-banner .awesome {
    -fx-effect: null;
    -fx-text-fill: awesome-color;
}
.pdfsam-logo{
	-fx-padding: 8.0 4.0 8.0 12.0;
 	-fx-spacing: 15.0px;
 	-fx-alignment: center-left;    
}
.pdfsam-banner-buttons{
	-fx-padding: 0.0 3.0em 0.0 0.0;
 	-fx-spacing: 5.0px;
 	-fx-alignment: center-right;
 }
.pdfsam-toolbar-button, .pdfsam-toolbar-button:focused {
    -fx-background-color: headerbg-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.pdfsam-toolbar-button:hover{
    -fx-background-color:  theme-color, headerbg-color;
    -fx-background-insets:  0.0, 0.0 0.0 1.5 0.0 ;
    -fx-background-radius: 0.0;
}
.pdfsam-toolbar-button:hover .awesome{
	-fx-text-fill: awesome-color-hover;
}
.pdfsam-toolbar-button:armed {
  -fx-opacity: 0.6;
}
.pdfsam-toolbar-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.logs-notification {
	-fx-background-color: derive(error-color, -10.0%), error-color;
	-fx-background-insets:  0.0, 1.0;
    -fx-background-radius: 2.0px;
	-fx-font-size: 11.0px;
	-fx-font-weight: bold;
	-fx-padding: 1.5 2.5 1.5 2.5;
	-fx-translate-y: -6.0px;
	-fx-translate-x: 3.0px;
	-fx-text-fill: #FFFFFF;
	-fx-opacity: 0.95;
}