/**
 * Dashoard 
 */
 .section-title {
	-fx-font-size: 1.25em;
	-fx-padding: 1.166666em 0.0 0.0 0.0;
	-fx-font-weight: bold;
}
.modules-tile-title{
	-fx-font-size: 1.5em;
	-fx-padding: 1.333333em 0.0 -1em 0.0;
	-fx-font-weight: bold;
}
.dashboard-container{
	-fx-border-width: 0.0;
	-fx-padding: 1.166666em;
	-fx-spacing: 2.5em;
}
.dashboard-modules{
	-fx-hgap: 1.0em;
	-fx-vgap: 1.0em;
	-fx-column-halignment: left;
	-fx-row-valignment: top;
	-fx-orientation: horizontal;
}
.dashboard-modules-tile {
	-fx-padding: 0.0px;
	-fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.dashboard-modules-tile-inner {
 	-fx-background-color: derive(-pdfsam-defaultbg-color, -10.0%), -pdfsam-tooltipbg-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0;
	-fx-padding: 0.666667em;
	-fx-max-width: 22em;
    -fx-min-width: 22em;
    -fx-effect: dropshadow(one-pass-box, derive(-pdfsam-defaultbg-color, -10.0%), 6.0, 0.0, 1.0, 2.0);
}
.dashboard-modules-invisible-button, .dashboard-modules-invisible-button:hover, .dashboard-modules-invisible-button:armed{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;	
}
.dashboard-modules-tile:hover .dashboard-modules-tile-inner{
	-fx-effect: dropshadow(three-pass-box, derive(-pdfsam-defaultbg-color, -30.0%), 10.0, 0.0, 0.0, 4.0);
}
.dashboard-modules-tile:armed .dashboard-modules-tile-inner{
	-fx-effect: innershadow(three-pass-box, derive(-pdfsam-defaultbg-color, -20.0%), 10.0, 0.0, 1.0, 1.0);
}
.dashboard-modules-tile-title{
	-fx-font-size: 1.25em;
    -fx-font-weight: bold;
	-fx-graphic-text-gap: 0.666667em;
    -fx-padding: 0.5em 0.0 0.333333em 0.0;
	-fx-wrap-text: true;
}
.dashboard-modules-tile-text{
	-fx-font-size: 1.083333em;
	-fx-wrap-text: true;
}
.dashboard-modules-toolbar {
	-fx-alignment: center-right;
}