.-pdfsam-dialog{
	-fx-background-color: -pdfsam-pwdpopupbg-color;
	-fx-background-radius: 5.0;
	-fx-background-insets: 0.0;
	-fx-max-width: 450.0px;
}
.-pdfsam-dialog-buttons{
	-fx-spacing: 1.0em;
	-fx-padding: 7.0;
	-fx-alignment: bottom-center;
}
.-pdfsam-dialog-content{
	-fx-spacing: 1.0em;
	-fx-alignment: top-left ;
}
.-pdfsam-dialog-messages {
	-fx-spacing: 0.2em;
	-fx-alignment: top-left;
}
.-pdfsam-dialog-title, .-pdfsam-open-with-dialog-title{
	-fx-font-size: 1.2em;
    -fx-font-weight: bold;
	-fx-wrap-text: true;    
}
.-pdfsam-dialog-message{
	-fx-wrap-text: true;    
}
.-pdfsam-warning-dialog .glyph-icon, .-pdfsam-warning-dialog .glyph-icon:hover{
    -fx-fill: #EEAD69;
    -fx-min-width: 46.0px;
}
.-pdfsam-question-dialog .glyph-icon, .-pdfsam-question-dialog .glyph-icon:hover{
	-fx-fill: -pdfsam-theme-color;
    -fx-min-width: 46.0px;
}
.-pdfsam-open-with-container {
	-fx-spacing: 1.0em;
	-fx-alignment: top-center;
	-fx-padding: 16.0;
} 
.-pdfsam-open-with-dialog-title{
	-fx-padding: 0.0 0.0 5.0 0.0;
}
.-pdfsam-open-with-dialog{
	-fx-background-color: -pdfsam-pwdpopupbg-color;
	-fx-background-radius: 5.0;
	-fx-background-insets: 0.0;
}