/**
 * News
 */
 .news-container{
	-fx-padding: 14.0, 6.0, 14.0, 6.0;
}
.scrollable-news {
	-fx-background-color: -pdfsam-tooltipbg-color;
    -fx-background-insets: 0.0;
}
.news-panel{
	-fx-background-color: -fx-box-border, -pdfsam-tooltipbg-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
	-fx-effect: dropshadow(three-pass-box, -pdfsam-dark-text-color, 10.0, 0.0, 0.0, 3.0);
	-fx-max-width: 300.0px;
    -fx-spacing: 5.0px;
}
.news-panel-title {
	-fx-font-size: 1.2em;
    -fx-font-weight: bold;
   	-fx-alignment: center;
   	-fx-padding: 0.0 0.0 3.0;
}
.news-box-title {
    -fx-font-weight: bold;
    -fx-fill: -pdfsam-dark-text-color;
    -fx-wrap-text: true;
    -fx-padding: 0.0 0.0 1.5;
}
.news-box-title:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}
.news-box-title-important {
	-fx-fill: -pdfsam-theme-color;	
}
.news-box {
	-fx-background-color: -fx-box-border, -pdfsam-tooltipbg-color;
    -fx-background-insets: 0.0, 0.4 0.0 0.0 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 5.0;
}

.news-box-footer {
    -fx-padding: 4.0 0.0 0.0 0.0;
}

.news-content {
	-fx-fill: -pdfsam-dark-text-color;
	-fx-wrap-text: true;
}

.news-not-up-to-date > .glyph-icon  {
    -fx-fill: -pdfsam-theme-color;
}
