/**
 * News
 */
 .news-container{
	-fx-padding: 1.166666em, 0.5em, 1.166666em, 0.5em;
}
.scrollable-news {
	-fx-background-color: -pdfsam-tooltipbg-color;
    -fx-background-insets: 0.0;
}
.news-panel{
	-fx-background-color: -fx-box-border, -pdfsam-tooltipbg-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
	-fx-effect: dropshadow(three-pass-box, -pdfsam-dark-text-color, 10.0, 0.0, 0.0, 3.0);
	-fx-max-width: 25em;
    -fx-spacing: 0.416667em;
}
.news-panel-title {
	-fx-font-size: 1.25em;
    -fx-font-weight: bold;
   	-fx-alignment: center;
   	-fx-padding: 0.0 0.0 0.25em;
}
.news-box-title {
    -fx-font-weight: bold;
    -fx-fill: -pdfsam-dark-text-color;
    -fx-wrap-text: true;
    -fx-padding: 0.0 0.0 0.166667em;
}
.news-box-title:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}
.news-box-title-important {
	-fx-fill: -pdfsam-theme-color;	
}
.news-box {
	-fx-background-color: -fx-box-border, -pdfsam-tooltipbg-color;
    -fx-background-insets: 0.0, 0.4 0.0 0.0 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0.416667em;
}

.news-box-footer {
    -fx-padding: 0.333333em 0.0 0.0 0.0;
}

.news-content {
	-fx-fill: -pdfsam-dark-text-color;
	-fx-wrap-text: true;
}

.news-not-up-to-date > .glyph-icon  {
    -fx-fill: -pdfsam-theme-color;
}
