/**
 * Notifications
 */
.notifications{
	-fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-alignment: bottom-center; 
    -fx-translate-y: -42.0;
    -fx-spacing: 0.416667em;
    -fx-max-width: 28.333333em;
    -fx-min-width: 28.333333em
}
.notification {
 	-fx-background-color: -fx-box-border, -pdfsam-tooltipbg-color;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
	-fx-effect: dropshadow(three-pass-box, -pdfsam-dark-text-color, 10.0, 0.0, 0.0, 3.0);
	-fx-max-width: 26.666666em;
    -fx-min-width: 26.666666em;
}

.notification-title{
	-fx-font-size: 1.25em;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-padding: 0.25em 0.666667em 0.333333em 0;
}

.notification-text{
	-fx-font-size: 1.1em;
	-fx-wrap-text: true;
	-fx-graphic-text-gap: 8.0px;
}

.notification-error > .glyph-icon {
    -fx-effect: null;
    -fx-fill: -pdfsam-error-color;
}

.notification-warn > .glyph-icon  {
    -fx-effect: null;
    -fx-fill: #EEAD69;
}

.notification-info > .glyph-icon  {
    -fx-effect: null;
    -fx-fill: -pdfsam-info-color;
}

.notification-pro  > .glyph-icon {
    -fx-effect: null;
    -fx-fill: -pdfsam-theme-color;
}
