/**
 * Log
 */
#log-view{
 	-fx-background-color: -fx-box-border,#FFFFFF;
    -fx-background-insets: 0.0, 1.0;
    -fx-padding: 0.083333em;
}

#log-view:focused {
 -fx-background-color: -fx-focus-color,-fx-box-border,#FFFFFF;
 -fx-background-insets: -1.4, 0.0, 1.0;
 -fx-background-radius: 1.4, 0.0, 0.0;    
}

#log-view .list-cell,.list-cell:odd {
}

.info-log{
	-fx-text-fill: -pdfsam-dark-text-color;
}

.warn-log{
	-fx-text-fill: derive(-pdfsam-info-color, -30.0%);
}

.error-log{
	-fx-text-fill: -pdfsam-error-color;
}

.log-has-errors > .glyph-icon  {
    -fx-fill: -pdfsam-error-color;
}
/**
 * Info pane
 */
.info-props{
	-fx-background-color:  -pdfsam-light-border-color, #FFFFFF;
    -fx-background-insets:  0.0, 1.0;	
	-fx-border-radius: 0.0;
	-fx-padding: 1.25em;
	-fx-hgap: 0.833333em;
	-fx-vgap: 0.833333em;
}
.info-property-value, .info-property {
	-fx-background-color: #FFFFFF;
    -fx-background-insets:  0.0;	
	-fx-border-radius: 0.0;
}
.info-property {
	-fx-font-weight: bold;
}
.tab-pane > .tab-header-area > .headers-region > .tab:left {
    -fx-background-color: -pdfsam-defaultbg-color, -pdfsam-light-border-color, #FFFFFF;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0;
    -fx-opacity: 0.9;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -pdfsam-defaultbg-color, -pdfsam-theme-color, -pdfsam-light-border-color, #FFFFFF;
    -fx-background-insets: 0.0, 1.0, 2.5 1.0 1.0 1.0, 2.5 2.0 2.0 2.0;
    -fx-opacity: 1.0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0.0;
}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -pdfsam-defaultbg-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-effect: null;
}