/**
 * Quickbar
 */
.quickbar {
	-fx-background-color: defaultbg-color;
   	-fx-background-insets: 0.0;
    -fx-padding: 1.0em 0.0 1.0em 0.0;
} 
.quickbar-buttons {
	-fx-background-color: light-border-color, defaultbg-color;
   	-fx-background-insets: 0.0, 0.0 1.0 0.0 0.0;
   	-fx-padding: 0.0 0.0 0.0 3.0px;
}
.quickbar-expand-button {
	-fx-padding: 0.0 0.0 0.5em 0.0;
	-fx-alignment: top-right;
}
.quickbar-expand-toggle, .quickbar-expand-toggle:focused {
	-fx-background-color:  defaultbg-color;
    -fx-background-insets:  0.0;
}
.quickbar-expand-toggle:armed, .quickbar-expand-toggle:hover {
    -fx-background-color: hover-color;
    -fx-background-insets:  0.0;
}
.quickbar-expand-toggle:armed{
    -fx-opacity: 0.85;
}
.quickbar-button-arrow {
	-fx-fill: dark-text-color;
}
.quickbar-items{
	-fx-padding: 0.0 0.0 1.0em 0.0;
}
.quickbar-navigation-button, .quickbar-navigation-button:focused {
	-fx-background-color:  light-border-color, defaultbg-color;
    -fx-background-insets:  0.0, 0.0 1.0 0.0 0.0 ;
    -fx-alignment: center-left;
    -fx-background-radius: 0.0;
    -fx-padding: 5.0px 10.0px 5.0px 10.0px;
    -fx-min-width: 50.0px;
    -fx-max-height: 40.0px;
    -fx-min-height: 40.0px;
}
.quickbar-navigation-button:hover{
	-fx-background-color:  theme-color, light-border-color, defaultbg-color;
    -fx-background-insets:  0.0, 0.0 0.0 0.0 1.5, 0.0 1.0 0.0 1.5;		
}
.quickbar-navigation-button:armed {
    -fx-background-color:  light-border-color, -fx-focus-color;
    -fx-background-insets:  0.0, 0.0 1.0 0.0 0.0 ;
}
.quickbar-navigation-button:selected{
	-fx-background-color:  light-border-color, defaultbg-color;
    -fx-background-insets:  0.0 , 1.0 0.0 1.0 0.0 ;
}
.quickbar-navigation-button:disabled {
    -fx-opacity: 1.0;
}
.quickbar-navigation-button .quickbar-navigation-button-graphic{
	-fx-opacity: 0.85;
}
.quickbar-navigation-button:disabled .quickbar-navigation-button-graphic{
    -fx-opacity: 0.4;
}
.quickbar-navigation-button:hover .quickbar-navigation-button-graphic{
	-fx-opacity: 1.0;
}
.quickbar-navigation-button .awesome{
    -fx-effect: null;
    -fx-text-fill: awesome-color;
    -fx-opacity: 1.0;
}
.quickbar-navigation-button:hover .awesome {
	-fx-text-fill: awesome-color-hover;
}