/**
 * Banner
 */
.pdfsam-banner{
 	-fx-padding: 0.0;
 	-fx-background-color: headerbg-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 3.0;
    -fx-alignment: bottom-left;  
    -fx-effect: -pdfsam-shadow-effect;
}
.pdfsam-toolbar-button, .pdfsam-toolbar-button:focused  {
    -fx-background-color: headerbg-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 3.0;
}
.pdfsam-toolbar-button:focused {
    -fx-background-color: -pdfsam-focus-border-color, headerbg-color;
    -fx-background-insets: 0.0, 0.5;
    -fx-background-radius: 3.0;	
}
.pdfsam-toolbar-button:hover{
    -fx-background-color: -pdfsam-box-border-color, -pdfsam-flat-bg-color;
    -fx-background-insets: 0.0, 0.3;
    -fx-background-radius: 3.0;  
    -fx-translate-y: -1.0;
	-fx-effect: -pdfsam-shadow-effect;
}
.pdfsam-toolbar-button:armed{
	-fx-background-color: -pdfsam-armed-button-color;
    -fx-background-insets: 0.0;
    -fx-translate-y: -2.0;
	-fx-effect: -pdfsam-armed-shadow-effect;
	-fx-opacity: 0.7;
}
.logs-notification {
	-fx-background-color: -pdfsam-error-color;
	-fx-background-insets:  0.0;
    -fx-background-radius: 2.0px;
	-fx-translate-y: -6.0px;
	-fx-translate-x: 3.0px;
	-fx-text-fill: #FFFFFF;
	-fx-effect: -pdfsam-shadow-effect;
}