/**
 * Dashoard 
 */
.dashboard-modules-tile-inner {
	-fx-background-color: -pdfsam-box-border-color, -pdfsam-pane-bg;
    -fx-background-insets: 0.0, 0.4;
    -fx-background-radius: 3.0;
	-fx-padding: 0.666667em;
	-fx-max-width: 22em;
    -fx-min-width: 22em;
	-fx-effect: -pdfsam-shadow-effect;
}
.dashboard-modules-tile:hover .dashboard-modules-tile-inner{
	-fx-translate-y: -1;
	-fx-effect: -pdfsam-hover-shadow-effect;
}
.dashboard-modules-tile:armed .dashboard-modules-tile-inner{
	-fx-translate-y: -2;
	-fx-effect: -pdfsam-armed-shadow-effect;
}

