/**
 * Quickbar
 */
 .quickbar-buttons {
	-fx-background-color: -pdfsam-defaultbg-color;
   	-fx-background-insets: 0.0;
}
.quickbar-items{
	-fx-spacing: 3px;
	-fx-padding: 0.0 5.0 1.0em 0.0;
}
.quickbar-navigation-button, .quickbar-navigation-button:focused {
	-fx-background-color:  -pdfsam-defaultbg-color;
    -fx-background-insets:  0.0;
    -fx-background-radius: 3.0;
    -fx-padding: 5.0px 10.0px 5.0px 10.0px;
    -fx-min-width: 50.0px;
    -fx-max-height: 40.0px;
    -fx-min-height: 40.0px;
}
.quickbar-navigation-button:focused {
	-fx-background-color: -pdfsam-focus-border-color, -pdfsam-defaultbg-color;
    -fx-background-insets: 0.0, 0.5;
}
.quickbar-navigation-button:hover{
	-fx-background-color: -pdfsam-box-border-color, -pdfsam-flat-bg-color;
    -fx-background-insets: 0.0, 0.3;
    -fx-translate-y: -1.0;
    -fx-effect: -pdfsam-shadow-effect;
}
.quickbar-navigation-button:armed{
	-fx-background-color: -pdfsam-armed-button-color;
    -fx-background-insets: 0.0;
    -fx-translate-y: -2.0;
    -fx-effect: -pdfsam-hover-shadow-effect;
}
.quickbar-navigation-button:selected{
	-fx-background-color: -pdfsam-box-border-color, -pdfsam-flat-bg-color;
    -fx-background-insets: 0.0, 0.3;
}
.quickbar-navigation-button:disabled {
    -fx-opacity: 1.0;
}
.quickbar-navigation-button .quickbar-navigation-button-graphic{
	-fx-opacity: 0.85;
}
.quickbar-navigation-button:disabled .quickbar-navigation-button-graphic{
    -fx-opacity: 0.4;
}
.quickbar-navigation-button:hover .quickbar-navigation-button-graphic{
	-fx-opacity: 1.0;
}