.root { 
	-pdfsam-theme-color: #009245;
	-pdfsam-progress-color: #C8C8C8;
}
.-pdfsam-community-splash{
	-fx-padding: 25.0 25.0 15.0 25.0;
	-fx-background-color: FFFFFF;
	-fx-spacing: 12.0px;
	-fx-background-radius: 5.0px;
}
.-pdfsam-community-splash > .progress-bar {
   -fx-min-height: 4.0px;
   -fx-pref-height: 4.0px;
}
.-pdfsam-community-splash > .progress-bar > .bar {
  	-fx-background-color:  -pdfsam-theme-color;
  	-fx-background-insets: 0.0;
   	-fx-background-radius:  2.0;		
}
.-pdfsam-community-splash > .progress-bar:indeterminate > .bar {
  	-fx-background-color:  -pdfsam-theme-color;
  	-fx-background-insets: 0.0;
   	-fx-background-radius:  2.0;		
}
.-pdfsam-community-splash > .progress-bar:indeterminate > .track {
  	-fx-background-color:  -pdfsam-progress-color;
  	-fx-background-insets: 0.0;
   	-fx-background-radius:  2.0;		
}
.-pdfsam-community-splash > .progress-bar > .track {
  	-fx-background-color:  -pdfsam-progress-color;
  	-fx-background-insets: 0.0;
   	-fx-background-radius:  2.0;		
}
.-pdfsam-update-message{
	-fx-padding: 5.0 0.0 0.0 0.0 ;
}
.-pdfsam-splash-version{
	-fx-font-size: 0.7em;
	-fx-alignment: baseline-right;
	-fx-text-alignment: right;
}