[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=PDFsam Basic
Comment=Open source desktop application to split, merge, rotate and mix PDF files
Exec=/opt/pdfsam-basic/bin/pdfsam-basic %f
Path=/opt/pdfsam-basic/
Icon=/opt/pdfsam-basic/icon.svg
MimeType=application/pdf
Terminal=false
Categories=Office;