Package: pdfsam-basic
Version: [[version]]-1
Section: utils
Priority: optional
Architecture: all
Homepage: https://pdfsam.org
Maintainer: Andrea Vacondio <info@pdfsam.org>
Description: Open source desktop application to split, merge, rotate, extract pages and mix PDF files.